.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.view-links-container {
  overflow: hidden;
  overflow-y: scroll;
  /* height: 100%; */
}

.update-links {
  overflow: hidden;
  overflow-y: scroll;
}

.view-links-container::-webkit-scrollbar,
.update-links::-webkit-scrollbar {
  width: 4px;
}

.view-links-container::-webkit-scrollbar-thumb,
.update-links::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
  border-radius: 100vw;
  border-left: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
}

.view-links-container::-webkit-scrollbar-thumb:vertical,
.update-links::-webkit-scrollbar-thumb:vertical {
  height: 10px;
}

.view-links-container::-webkit-scrollbar-track,
.update-links::-webkit-scrollbar-track {
  background-color: transparent !important;
  box-shadow: inset var(--box-shadow);
}
.active{
  color: red;
}
.select-img:hover .select-img-hover{
  display: flex;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}